---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");

function countStrings(arr: string[]) {
  let counts: { [key: string]: number } = {};
  for (const str of arr) {
    counts[str] = counts[str] ? counts[str] + 1 : 1;
  }
  return counts;
}

const tags = allPosts.map((post) => post.data.tags).flat();
const tagCounts = countStrings(tags);
const uniqueTags = [...new Set(tags)].sort();

const pageTitle = "Tags";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="font-extrabold text-2xl">
    {pageTitle}
  </h1>
  <div>
    <ul class="block list-disc my-4 pl-10">
      {
        uniqueTags.map((tag) => (
          <li>
            <a class="text-penn-red" href={`/tags/${tag}`}>
              {tag}
            </a>{" "}
            ({tagCounts[tag]})
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
