---
const { title, url, tags, desc } = Astro.props;
---

<li>
  <a href={url} class="text-base text-penn-red hover:underline" title={title}>{title}</a>
  {
    tags.map((tag) => (
      <span class="inline-block text-neutral-400 text-xs px-1">
        <a href={`/tags/${tag}`} class="hover:underline">
          #{tag}
        </a>
      </span>
    ))
  }
  <!-- <p class="pt-2 pb-4">
    {desc}
  </p> -->
</li>
