---
import BaseLayout from "./BaseLayout.astro";
import { getShortDate } from "../utils/date";
const { frontmatter } = Astro.props;

const title = frontmatter.title;
const description = frontmatter.description;
const tags = frontmatter.tags;

const pubDate = getShortDate(frontmatter.pubDate);
const lastMod = frontmatter.lastMod && getShortDate(frontmatter.lastMod);
---

<BaseLayout title={title} description={description}>
  <article
    class="prose prose-sm text-[15px] leading-7 text-neutral-950 max-w-none prose-a:no-underline prose-a:text-penn-red hover:prose-a:underline prose-code:text-sm prose-pre:rounded-md prose-pre:border-solid prose-pre:border-[1px] prose-pre:border-neutral-300 prose-strong:font-bold"
  >
    <h1>{title}</h1>
    <div class="text-neutral-400 text-xs my-1">
      <span> Published: {pubDate}</span>
      {
        lastMod && (
          <>
            <span class="mx-1">|</span>
            <span>Last modified: {lastMod}</span>
          </>
        )
      }
    </div>
    <slot />
    <div class="mt-4">
      {
        tags &&
          tags.map((tag) => (
            <a
              href={`/tags/${tag}`}
              class="inline-block text-neutral-400 text-xs pr-2 hover:underline"
            >
              #{tag}
            </a>
          ))
      }
    </div>
  </article>
</BaseLayout>
